{% extends 'base.html' %}

{% block content %}

    <body>
    
        <main>
          <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
              <a href="/products" class="d-flex align-items-center text-dark text-decoration-none">
                <img src='../static/img/icons8-welder-50.png'>
                <span class="fs-4">Back to Shopping</span>
              </a>
            </header>

            <div class="card mb-3" style="max-width: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  {% if product.picture_url %}
                  <img src="{{ product.picture_url }}" class="img-fluid" alt="image of product">

                  {% else %}
                  <svg class="bd-placeholder-img card-img-top" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Picture Available</text></svg>
                  {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <hr>
                    <p class="fs-2">${{ product.price }}</p>
                    <button class="btn btn-primary btn-lg" type="button">Buy Now</button>
                    <button class="btn btn-success btn-lg" type="button">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">{{ product.title }}</h1>
                <p class="col-md-8 fs-4">{{ product.description }}</p>
                <button class="btn btn-primary btn-lg" type="button">Buy Now</button>
                <button class="btn btn-success btn-lg" type="button">Add to Cart</button>
                {% if product.picture_url %}
                <img src='{{ product.picture_url }}' width="75%">
                {% else %}
                <svg class="bd-placeholder-img card-img-top" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Picture Available</text></svg>
                {% endif %}

              </div>
            </div> -->
        
            <div class="row align-items-md-stretch">
             
              <!-- <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                  <h2>{{ product.title }}</h2>
                  <p>{{ product.description }}</p>
                  <button class="btn btn-outline-secondary" type="button">Example button</button>
                  <button class="btn btn-primary btn-lg" type="button">Buy Now</button>
                  <button class="btn btn-success btn-lg" type="button">Add to Cart</button>
                </div>
              </div> -->

              <!-- <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                  <h2>Change the background</h2>
                  <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                  <button class="btn btn-outline-light" type="button">Example button</button>
                </div>
              </div> -->
              <hr>
              <p class="fs-1 fw-bolder">Reviews</p>

            </div>
        
          <hr>
          {% for review in reviews %}
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Rating: {{ review.rating }}</div>
            <div class="card-body text-dark">
              <h5 class="card-title">{{ review.username }}</h5>
              <p class="card-text">{{ review.review_content }}</p>
            </div>
          </div>
          <hr>
          {% endfor %}

            <footer class="pt-3 mt-4 text-muted border-top">
              &copy; 2021
            </footer>
          </div>
        </main>
        
        
            
          </body>    

{% endblock %}