{% extends 'base.html' %}

{% block content %}

<!-- <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <img src='../static/img/icons8-welder-50_white.png'>
          <strong>Home</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
   -->
  </head>
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src='../static/img/icons8-welder-50_white.png'></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/products">Shop</a>
            </li>
            <li class="nav-item">
              {% if session.get('user') %}
              <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
            {% else %}
              <a class="nav-link active" aria-current="page" href="/login">Account</a>
            {% endif %}
            </li>
            <li>
              <a class="nav-link active" aria-current="page" href="/map">Suppliers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wishlist"><svg xmlns="http://www.w3.org/2000/svg" height="25" fill="white" class="bi bi-cart2" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg></a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" href="/views">Views</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
  
    <section class="py-5 text-center container">
      <div class="contrast">
        <img src='../static/img/tools_wallpaper.jpg'>
      </div>

      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-normal text-white">Available Products</h1>
          <p class="lead text-white">Sign in to save products to your cart</p>
          <p></p>
          <p></p>
          <p>
            <a href="/login" class="btn btn-primary my-2">Sign In</a>
            <a href="/register" class="btn btn-secondary my-2">Register</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-3 g-3">

          {% for product in products %}

          <div class="col mt-4 p-1">
            <div class="card shadow-sm p-2 h-100">
              {% if product.picture_url %}
              <img src='{{ product.picture_url }}'>
              {% else %}
              <svg class="bd-placeholder-img card-img-top" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">No Picture Available</text></svg>
              {% endif %}

              <div class="card-body">
                <h5 class='card-title'>{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-primary" href='/products/{{ product.product_id }}'>View</a>
                    <a class="btn btn-sm btn-outline-success" href='/add_to_wishlist/{{ product.product_id }}'>Add to Cart</a>
                  </div>
                  <small class="text-muted">${{ product.price }}</small>
                </div>
              </div>
            </div>
          </div>
          
          {% endfor %}
         
  </main>
  

{% endblock %}